{
  "env": {
    "es6": { // Proteus
      "presets": [
        ["env", {
          "targets": "> 0.25%, not dead, ie 10",
          "modules": "commonjs"
        }]
      ],
      "plugins": [
        "transform-es2015-spread", // for arrays like [...a, 'foo']
        "transform-object-rest-spread" // for objects like {a, b, ...z}
      ],
      "ignore": [
      ]
    },
    },
}
